
@import url("General.css");
body > a.button-link {
    display: block; 
    margin: 20px auto; 
    text-align: center; 
    max-width: 200px; 
}

table {
    margin-bottom: 20px; 
}

body > a.back-link {
    display: block; 
    text-align: center; 
    margin-top: 20px; 
    width: 100%;
    max-width: 500px; 
    margin-left: auto;
    margin-right: auto;
}

