@import url("General.css");

form {
    max-width: 500px; 
    margin: 20px auto; 
}
form div {
}

form label {
}

form select {
}

form button[type="submit"] {
}

.back-link {
    display: block; 
     text-align: center; 
    margin-top: 20px; 
    width: 100%;
    max-width: 500px; 
    margin-left: auto;
    margin-right: auto;
}
