
@import url("General.css");
.opciones {
    margin-bottom: 20px;
    text-align: center; /* Centra el div de opciones */
    width: 100%;
    max-width: 800px; /* Limita el ancho */
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 12px 48px;
    text-align: left;
    border-bottom: 1px solid #EDF1F2; /* Borde ligero entre filas */
}
.opciones a {
    margin: 0 10px; 
}

.Tabla {
    margin-bottom: 20px; 
}

